@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Movie card style */
  .card:hover .background {
    visibility: visible;
    opacity: 1;
  }

  .card:hover .play {
    transform: scale(1);
    transition: transform linear .3s 500ms;
  }

  /* hide scroll bar on mobile */
  
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020916;
  color: #DADBDD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
